<div class="row pe-3">
    <mat-card class="card p-0" appearance="outlined">
        <mat-card-header>
            <mat-card-title>Entradas</mat-card-title>
            <mat-card-subtitle>Informe suas entradas de dinheiro para organizar seu orçamento e planejar melhor seus gastos.</mat-card-subtitle>
        </mat-card-header>

        <div class="row">
            <div>
                <mat-card-actions class="justify-content-between">
                    <button class="ms-2" mat-raised-button color="primary" (click)="create()">
                        <span class="pe-1 material-icons">add</span>
                        Adicionar
                    </button>

                    <form [formGroup]="form" (ngSubmit)="applyFilter()">
                        <div class="row">
                            <mat-form-field appearance="outline" class="col-5 form-item">
                                <mat-label>Data</mat-label>
                                <mat-date-range-input [rangePicker]="picker">
                                    <input matStartDate placeholder="Data inicial" formControlName="startDate" (input)="formatDate($event)">
                                    <input matEndDate placeholder="Data final" formControlName="endDate" (input)="formatDate($event)">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                            </mat-form-field>
                            
                            <mat-form-field appearance="outline" class="col">
                                <mat-label>Tipo</mat-label>
                                <mat-select formControlName="type">
                                    <mat-option>Nenhum</mat-option>
                                    <mat-option *ngFor="let type of incomeTypes" [value]="type">
                                        {{type | translateIncomeType}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        
                            <mat-form-field class="col me-1" appearance="outline">
                                <mat-label>Descrição</mat-label>
                                <input matInput formControlName="description">
                                <button type="submit" mat-icon-button matSuffix>
                                    <mat-icon>search</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </form>
                </mat-card-actions>
            </div>
        </div>

        <mat-card-content>
            <div class="table-container mat-elevation-z1">
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                    <ng-container matColumnDef="type">
                        <th class="type-width" mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
                        <td class="type-width" mat-cell *matCellDef="let element">{{element.type | translateIncomeTypeTable}}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="description">
                        <th class="description-width" mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</th>
                        <td class="description-width" mat-cell *matCellDef="let element">{{element.description}}</td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                        <th class="date-width" mat-header-cell *matHeaderCellDef mat-sort-header>Data</th>
                        <td class="date-width" mat-cell *matCellDef="let element">{{element.date | date: 'dd/MM/yyyy'}}</td>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.amount | currencyBr}}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row (click)="update(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <mat-paginator class="mt-2"
                [length]="totalItems"
                [pageSize]="10" 
                [pageSizeOptions]="[5, 10, 20]" 
                showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </mat-card-content>
    </mat-card>
</div>
