<div class="login-form d-flex justify-content-center align-items-center">
  <mat-card class="card login-card p-4">
    <mat-card-title class="d-flex justify-content-center">Login</mat-card-title>
    <mat-card-content class="mt-3">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field appearance="outline" class="form-item">
          <mat-label>E-mail</mat-label>
          <input type="email" matInput formControlName="email">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-item">
          <mat-label>Senha</mat-label>
          <input type="password" matInput formControlName="password">
        </mat-form-field>

        <div class="button-container">
          <button type="button" mat-raised-button color="accent" routerLink="/create-account">
            <span class="pe-2 material-icons">person_add</span>
            Criar conta
          </button>
          
          <button type="submit" mat-raised-button color="primary">
            <span class="pe-2 material-icons">person</span>
            Login
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
