<div class="d-flex flex-column justify-content-between p-3 text-white bg-dark vh-100">
    <div class="p-1 ms-3 d-flex align-items-center">
        <span class="me-2 mb-3 material-icons">paid</span>
        <h1><b>ZenMoney</b></h1>
    </div>

    <div *ngIf="userService.isLoggedIn$ | async" class="d-flex flex-column mt-1 flex-grow-1">
        <mat-divider class="bg-white"></mat-divider>
        <button class="p-4 mt-3 text-white menu-button" mat-button routerLinkActive="active-link" routerLink="/dashboard">
            <span class="me-2 mb-1 material-icons">dashboard</span>
            Dashboard
        </button>
        <button class="p-4 text-white menu-button" mat-button routerLinkActive="active-link" routerLink="/expenses">
            <span class="me-2 mb-1 material-icons">receipt</span>
            Gastos
        </button>
        <button class="p-4 text-white menu-button" mat-button routerLinkActive="active-link" routerLink="/incomes">
            <span class="me-2 mb-1 material-icons">wallet</span>
            Entradas
        </button>
        <button class="p-4 text-white menu-button" mat-button routerLinkActive="active-link" routerLink="/categories">
            <span class="me-2 mb-1 material-icons">category</span>
            Categorias
        </button>
        <button class="p-4 text-white menu-button" mat-button routerLinkActive="active-link" routerLink="/payment-methods">
            <span class="me-2 mb-1 material-icons">payments</span>
            Formas de pagamento
        </button>
        <button class="p-4 text-white menu-button" mat-button routerLinkActive="active-link" routerLink="/reports">
            <span class="me-2 mb-1 material-icons">bar_chart</span>
            Relatórios
        </button>
    </div>

    <div class="d-flex justify-content-between">
        <button *ngIf="!(userService.isLoggedIn$ | async)" class="p-4 text-white" mat-button routerLink="/login">
            <i class="fa-solid fa-user"></i>
            Login
        </button>

        <div *ngIf="userService.isLoggedIn$ | async" class="d-flex flex-grow-1 justify-content-between align-items-center">
            <div class="d-flex flex-grow-1 align-items-center">
                <span class="material-icons">person</span>
                <p class="p-1 mt-3"><b>{{userService.getFirstName()}}</b></p>
            </div>
            <button  class="p-4 text-white" mat-button (click)="logout()">
                <i class="fa-solid fa-right-from-bracket"></i>
                Sair
            </button>
        </div>
    </div>
</div>


