.active-link {
    background-color: #ffffff22; /* cor leve de fundo para destacar */
    font-weight: bold;
    border-radius: 5px;
}

.menu-button {
    font-size: medium;
    justify-content: flex-start;
}

.layout {
    height: 100%;
}