<div class="d-flex flex-column justify-content-between p-3 text-white bg-dark vh-100">
    <div class="p-1 ms-3 d-flex align-items-center">
        <span class="me-2 mb-3 material-icons">paid</span>
        <h1>
            <a class="no-underscore text-white" routerLink="/home"><b>ZenMoney</b></a> 
        </h1>
    </div>

    <div *ngIf="userService.isLoggedIn$ | async" class="d-flex flex-column mt-1 flex-grow-1">
        <mat-divider class="bg-white"></mat-divider>
        <button class="p-4 mt-3 text-white menu-button" mat-button routerLinkActive="active-link" routerLink="/dashboard">
            <span class="me-2 mb-1 material-icons">dashboard</span>
            Dashboard
        </button>
        <button class="p-4 text-white menu-button" mat-button routerLinkActive="active-link" routerLink="/expenses">
            <span class="me-2 mb-1 material-icons">receipt</span>
            Gastos
        </button>
        <button class="p-4 text-white menu-button" mat-button routerLinkActive="active-link" routerLink="/incomes">
            <span class="me-2 mb-1 material-icons">wallet</span>
            Entradas
        </button>
        <button class="p-4 text-white menu-button" mat-button routerLinkActive="active-link" routerLink="/categories">
            <span class="me-2 mb-1 material-icons">category</span>
            Categorias
        </button>
        <button class="p-4 text-white menu-button" mat-button routerLinkActive="active-link" routerLink="/payment-methods">
            <span class="me-2 mb-1 material-icons">payments</span>
            Formas de Pagamento
        </button>
        <button class="p-4 text-white menu-button" mat-button routerLinkActive="active-link" routerLink="/reports">
            <span class="me-2 mb-1 material-icons">bar_chart</span>
            Relatórios
        </button>
    </div>

    <div class="d-flex justify-content-between">
        <div class="d-flex flex-grow-1 justify-content-between" *ngIf="!(userService.isLoggedIn$ | async)">
            <button  class="p-4 text-white" mat-button routerLink="/create-account">
                <span class="pe-2 material-icons">person_add</span>
                Criar conta
            </button>
            <button  class="p-4 text-white" mat-button routerLink="/login">
                <span class="pe-2 material-icons">person</span>
                Login
            </button>
        </div>

        <div *ngIf="userService.isLoggedIn$ | async" class="d-flex flex-grow-1 align-items-center">
            <div class="col justify-content-start align-items-center">
                <div class="d-flex align-items-center">
                    <span class="material-icons">person</span>
                    <p class="user-name mb-0 mt-1"><b>{{userService.getFirstName()}}</b></p>
                </div>
                <div class="d-flex">
                    <p class="mb-0">{{userService.getEmail()}}</p>
                </div>
            </div>
            <button  class="p-4 text-white" mat-button (click)="logout()">
                <i class="fa-solid fa-right-from-bracket"></i>
                Sair
            </button>
        </div>
    </div>
</div>


