<mat-card class="card" appearance="outlined">
  <mat-card-header>
    <mat-card-title class="card-title">
      <span>Gastos por Forma de Pagamento</span>
      <span 
        class="material-icons info-icon" 
        matTooltip="Exibe o total de gastos pagos agrupados por Forma de Pagamento no mês selecionado">
        info
      </span>
    </mat-card-title>

    <mat-card-subtitle>
      Agrupamento de gastos por forma de pagamento no mês
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <canvas
      baseChart
      [data]="pieChartData"
      [type]="pieChartType"
      [options]="pieChartOptions">
    </canvas>
  </mat-card-content>
</mat-card>