<div class="row pe-3">
    <mat-card class="card p-0" appearance="outlined">
        <mat-card-header>
            <div class="col">
                <mat-card-title>Gastos</mat-card-title>
                <mat-card-subtitle>Controle seu dinheiro registrando seus gastos diários.</mat-card-subtitle>
            </div>
            <div class="col d-flex align-items-center justify-content-end">
                <button class="ms-2" mat-raised-button color="warn" (click)="clearFilters()">
                    <span class="pe-1 material-icons">clear</span>
                    Limpar filtros
                </button>
            </div>
        </mat-card-header>

        <div class="row">
            <div class="col-12">
                <mat-card-actions class="justify-content-between">
                    <button class="ms-2" mat-raised-button color="primary" (click)="create()">
                        <span class="pe-1 material-icons">add</span>
                        Adicionar
                    </button>

                    <form [formGroup]="form" (ngSubmit)="applyFilter()">
                        <div class="row">
                            <mat-form-field appearance="outline" class="col-sm-3 col-12 form-item">
                                <mat-label>Data</mat-label>
                                <mat-date-range-input [rangePicker]="picker">
                                    <input matStartDate placeholder="Data inicial" formControlName="startDate" (input)="formatDate($event)">
                                    <input matEndDate placeholder="Data final" formControlName="endDate" (input)="formatDate($event)">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                            </mat-form-field>
                            
                            <mat-form-field appearance="outline" class="col">
                                <mat-label>Tipo</mat-label>
                                <mat-select formControlName="type">
                                    <mat-option>Nenhum</mat-option>
                                    <mat-option *ngFor="let type of incomeTypes" [value]="type">
                                        {{type | translateIncomeType}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        
                            <app-select-category class="col" (selectedCategory)="getCategory($event)"></app-select-category>

                            <app-select-payment-method class="col" (selectedPaymentMethod)="getPaymentMethod($event)"></app-select-payment-method>

                            <mat-form-field class="col me-1" appearance="outline">
                                <mat-label>Descrição</mat-label>
                                <input matInput formControlName="description">
                                <button type="submit" mat-icon-button matSuffix>
                                    <mat-icon>search</mat-icon>
                                </button>
                            </mat-form-field>

                            

                        </div>
                    </form>
                </mat-card-actions>
            </div>
        </div>

        <mat-card-content>
            <div class="table-container mat-elevation-z1">
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                    <ng-container matColumnDef="type">
                        <th class="type-width" mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
                        <td class="type-width" mat-cell *matCellDef="let element">{{element.type | translateIncomeTypeTable}}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="category">
                        <th class="category-width" mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</th>
                        <td class="category-width" mat-cell *matCellDef="let element">{{element.category.name}}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="description">
                        <th class="description-width" mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</th>
                        <td class="description-width" mat-cell *matCellDef="let element">{{element.description}}</td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                        <th class="date-width" mat-header-cell *matHeaderCellDef mat-sort-header>Data</th>
                        <td class="date-width" mat-cell *matCellDef="let element">{{element.date | date: 'dd/MM/yyyy'}}</td>
                    </ng-container>

                    <ng-container matColumnDef="paymentMethod">
                        <th class="payment-method-width" mat-header-cell *matHeaderCellDef mat-sort-header>Forma de pagamento</th>
                        <td class="payment-method-width" mat-cell *matCellDef="let element">{{element.paymentMethod.description}}</td>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                        <th class="amount-width" mat-header-cell *matHeaderCellDef mat-sort-header>Valor</th>
                        <td class="amount-width" mat-cell *matCellDef="let element">
                            {{element.amount | currencyBr}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="isPaid">
                        <th class="is-paid-width" mat-header-cell *matHeaderCellDef mat-sort-header>Foi pago ?</th>
                        <td class="is-paid-width" [ngClass]="{'is-paid': element.isPaid, 'is-not-paid': !element.isPaid}" mat-cell *matCellDef="let element">
                            <span *ngIf="!element.isPaid" class="material-icons">close</span>
                            <span *ngIf="element.isPaid" class="material-icons">check</span>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row (click)="update(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <mat-paginator class="mt-2"
                [length]="totalItems"
                [pageSize]="10" 
                [pageSizeOptions]="[5, 10, 20]" 
                showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </mat-card-content>
    </mat-card>
</div>
