<div class="row pe-3">
    <mat-card class="card p-0" appearance="outlined">
        <div class="row">
            <div class="col-5">
                <mat-card-header>
                    <mat-card-title>Gastos</mat-card-title>
                    <mat-card-subtitle>Controle seu dinheiro registrando seus gastos diários.</mat-card-subtitle>
                </mat-card-header>
            </div>
            <div class="col-7">
                <form [formGroup]="form">
                    <div class="row mt-2 justify-content-end">
                        <mat-form-field class="col-4 mt-3 p-0 pe-2" appearance="outline">
                            <mat-label>Data</mat-label>
                            <mat-date-range-input [rangePicker]="picker">
                                <input matStartDate placeholder="Data inicial" formControlName="startDate" (input)="formatDate($event)">
                                <input matEndDate placeholder="Data final" formControlName="endDate" (input)="formatDate($event)">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-3 mt-3 p-0 pe-2">
                            <mat-label>Tipo</mat-label>
                            <mat-select formControlName="type">
                                <mat-option>Nenhum</mat-option>
                                <mat-option *ngFor="let type of incomeTypes" [value]="type">
                                    {{type | translateIncomeType}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="col-3 mt-3 me-3 ps-0 mb-0" appearance="outline">
                            <mat-label>Descrição</mat-label>
                            <input matInput formControlName="description">
                        </mat-form-field>
                    </div>

                    <div class="row me-5 justify-content-end">
                        <app-select-category class="col-3 me-4" (selectedCategory)="getCategory($event)"></app-select-category>
                    
                        <app-select-payment-method class="col-3" (selectedPaymentMethod)="getPaymentMethod($event)"></app-select-payment-method>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="row mb-2 me-2 d-flex justify-content-end align-items-center">
                <div class="col d-flex justify-content-start">
                    <button class="ms-3" mat-raised-button color="primary" (click)="create()">
                        <span class="pe-1 material-icons">add</span>
                        Adicionar
                    </button>
                </div>
                <div class="col d-flex justify-content-end align-items-end p-0">
                    <button class="col-3 me-2" type="button" mat-raised-button color="warn" (click)="clearFilters()">
                        <span class="pe-1 material-icons">cleaning_services</span>
                        Limpar filtros
                    </button>

                    <button class="col-2 me-1" type="submit" mat-raised-button color="primary" (click)="applyFilter()">
                        <span class="pe-1 material-icons">search</span>
                        Buscar
                    </button>
                </div>
            </div>
        </div>

        <mat-card-content>
            <div class="table-container mat-elevation-z1">
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                    <ng-container matColumnDef="type">
                        <th class="type-width" mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
                        <td class="type-width" mat-cell *matCellDef="let element">{{element.type | translateIncomeTypeTable}}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="category">
                        <th class="category-width" mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</th>
                        <td class="category-width" mat-cell *matCellDef="let element">{{element.category.name}}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="description">
                        <th class="description-width" mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</th>
                        <td class="description-width" mat-cell *matCellDef="let element">{{element.description}}</td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                        <th class="date-width" mat-header-cell *matHeaderCellDef mat-sort-header>Data</th>
                        <td class="date-width" mat-cell *matCellDef="let element">{{element.date | date: 'dd/MM/yyyy'}}</td>
                    </ng-container>

                    <ng-container matColumnDef="paymentMethod">
                        <th class="payment-method-width" mat-header-cell *matHeaderCellDef mat-sort-header>Forma de pagamento</th>
                        <td class="payment-method-width" mat-cell *matCellDef="let element">{{element.paymentMethod.description}}</td>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                        <th class="amount-width" mat-header-cell *matHeaderCellDef mat-sort-header>Valor</th>
                        <td class="amount-width" mat-cell *matCellDef="let element">
                            {{element.amount | currencyBr}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="isPaid">
                        <th class="is-paid-width" mat-header-cell *matHeaderCellDef mat-sort-header>Foi pago ?</th>
                        <td class="is-paid-width" [ngClass]="{'is-paid': element.isPaid, 'is-not-paid': !element.isPaid}" mat-cell *matCellDef="let element">
                            <span *ngIf="!element.isPaid" class="material-icons">close</span>
                            <span *ngIf="element.isPaid" class="material-icons">check</span>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row (click)="update(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <mat-paginator class="mt-2"
                [length]="totalItems"
                [pageSize]="10" 
                [pageSizeOptions]="[5, 10, 20]" 
                showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </mat-card-content>
    </mat-card>
</div>
