// // Custom Theming for Angular Material
// // For more information: https://material.angular.io/guide/theming
// @use '@angular/material' as mat;

// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
// @include mat.core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $ZenMoneyApp-primary: mat.define-palette(mat.$indigo-palette);
// $ZenMoneyApp-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// // The warn palette is optional (defaults to red).
// $ZenMoneyApp-warn: mat.define-palette(mat.$red-palette);

// // Create the theme object. A theme consists of configurations for individual
// // theming systems such as "color" or "typography".
// $ZenMoneyApp-theme: mat.define-light-theme((
//   color: (
//     primary: $ZenMoneyApp-primary,
//     accent: $ZenMoneyApp-accent,
//     warn: $ZenMoneyApp-warn,
//   ),
//   typography: mat.define-typography-config(),
//   density: 0
// ));

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include mat.all-component-themes($ZenMoneyApp-theme);

/* You can add global styles to this file, and also import other style files */

$backgroud-color: #ECEFF1;

* {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden; 
  overflow-y: auto;
}

.form-item {
  width: 100%;
  margin-bottom: 5px;
}

.border-red {
  border: 1px solid red;
}

.main-content {
  background-color: $backgroud-color;
  position: relative;
}

.no-underscore {
  text-decoration: none;
}

.user-name {
  font-size: medium;
}

// Loading

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

// MatSnackBar

/* Sucesso */
::ng-deep .snackbar-success {
  background-color: #4caf50 !important; /* verde */
  color: #fff !important;
}

/* Erro */
::ng-deep .snackbar-error {
  background-color: #e65100 !important; /* laranja forte */
  color: #fff !important;
}

/* Botão "Ok" */
.snackbar-success .mat-mdc-button,
.snackbar-error .mat-mdc-button {
  color: #fff !important;
}

// Tables

.table-container {
  max-height: 600px;   /* Altura máxima */
  overflow-y: auto;    /* Cria a barra de rolagem vertical */
}

table {
  width: 100%;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: black;
  cursor: pointer;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: none;
  border-top: none;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: $backgroud-color;
}

.mat-mdc-header-row {
  position: sticky;
  top: 0;
  background-color: white; /* fundo fixo para não aparecer sobreposto */
  z-index: 1; /* para ficar acima das linhas */
}
